1tl.jpg filter=lfs diff=lfs merge=lfs -text
2tr.jpg filter=lfs diff=lfs merge=lfs -text
3bl.jpg filter=lfs diff=lfs merge=lfs -text
4bl.jpg filter=lfs diff=lfs merge=lfs -text
5tr.jpg filter=lfs diff=lfs merge=lfs -text
6br.jpg filter=lfs diff=lfs merge=lfs -text
6tr.jpg filter=lfs diff=lfs merge=lfs -text
3tr.jpg filter=lfs diff=lfs merge=lfs -text
4tr.jpg filter=lfs diff=lfs merge=lfs -text
5bl.jpg filter=lfs diff=lfs merge=lfs -text
5trFilter.jpg filter=lfs diff=lfs merge=lfs -text
6blFilter.jpg filter=lfs diff=lfs merge=lfs -text
6bl.jpg filter=lfs diff=lfs merge=lfs -text
4tl.jpg filter=lfs diff=lfs merge=lfs -text
5br.jpg filter=lfs diff=lfs merge=lfs -text
1bl.jpg filter=lfs diff=lfs merge=lfs -text
1tr.jpg filter=lfs diff=lfs merge=lfs -text
2bl.jpg filter=lfs diff=lfs merge=lfs -text
2tl.jpg filter=lfs diff=lfs merge=lfs -text
3br.jpg filter=lfs diff=lfs merge=lfs -text
4br.jpg filter=lfs diff=lfs merge=lfs -text
6tl.jpg filter=lfs diff=lfs merge=lfs -text
1br.jpg filter=lfs diff=lfs merge=lfs -text
2br.jpg filter=lfs diff=lfs merge=lfs -text
3tl.jpg filter=lfs diff=lfs merge=lfs -text
5tl.jpg filter=lfs diff=lfs merge=lfs -text
